<section>
	<div class="spacingLoginPage">
	<h1 class = "loginTitle">Day$$Trader</h1>
		<div>
			<img class = "crazyGif" src="/Shovelgiphy.gif">
		</div>
		<br>
		<h1>Login or Register</h1>
		<div>
			Email:  <input type="text" autofocus="true"  ng-model="account.email">
		</div>
		<div>
			Password:  <input type="password" ng-model="account.password">
		</div>
		<div>
			<button class="btn btn-info" ng-click="login()">Login</button>
			<button class="btn btn-info" ng-click="logout()">Logout</button>
			<button class="btn btn-default" ng-click="register()">Register</button>
		</div>
	</div>
</section>