<html>
	<div class="container-fluid main-container">
  <h2 class="stockSearch">Search for Stocks</h2>

		<div class="stockSearch col-xs-6 col-xs-offset-3">
		  <input type="text" class="form-control" placeholder="Search for Stocks" ng-model="getStocks">
        <div class="searchButton col-xs-6 col-xs-offset-3">
          <span class="input-group-btn FaveStocksSearch">
              <button class="btn btn-default" ng-click="getStocks(); showStocks =! showStocks"><i class="fa fa-search" aria-hidden="true"></i>Search For Stocks</button>
          </span>
        </div>
    </div>
		<div class="stockDisplay" ng-show="showStocks">
    	<div ng-repeat="stock in stocks">
      	<div class="clearfix" ng-if="$index % 3 == 0"></div>
        	<div class="stockCard col-md-4">
          	<h4>{{stock.Ticker}}</h4>
          	<h5>{{stock.Year}}</h5>
          	<button ng-controller="SearchCtrl" type="button" class="btn btn-info" ng-click="addStockToFavorites(stock)">Add to Favorites</button>
        	</div>
      </div>
   	</div>
	</div>
</html>