<html>
  <div class="container-fluid main-container">
  <h2 class="stockSearch">Search A Stock</h2>

    <div class="stockSearch col-xs-6 col-xs-offset-3">
      <input type="text" class="form-control" placeholder="SearchStock" ng-model="getAStock"/>
        <div class="searchButton col-xs-6 col-xs-offset-3">
          <span class="input-group-btn FaveStocksSearch">
              <button class="btn btn-default" ng-click="searchAStock()">
              <i class="fa fa-search" aria-hidden="true">     
              </i>Search A Stock</button>
          </span>
        </div>
    </div>
    <br>
    <br>
    
    <div class="outputQuandlStock">
          <div class="stockCard col-md-4">
          <br>
          <br>
            <!-- <h5>{{stockArray.datasets}}</h5> -->
            <h5>{{stockArray[0]}}</h5>       
            <h5>CLOSE   {{stockArray[1]}}</h5>       
          </div>
      </div>
    </div> 
    <br>
    <br>   
    <div class="row">
      <div class="info">
        <button class = "btn btn-default" ng-click="addAStock(stockData)">Add To Favorite Stocks</button>
      </div>
    </div>  
    <br>
    <br>

    <!-- want this to be the notes output area -->
    <div class="notes">
      <form class="span6">
        <h2 class="notesHeading">Notes</h2><br>
        <input class="span6 noteLines" type="text" rows="3" placeholder="Enter notes here." required><br> 
        <div class="note">      
          <button type="submit" ng-click="addToNotes()">Add To Notes</button>
          <button type="clear" ng-click="deleteFromNotes()" class="btn">Clear</button>
        </div>
      </form>
    </div>
    <div>
      <p>
        <ul>Caution: 
          <li>Don't invest anything you can't afford to lose.</li>
          <li>Never borrow money to invest in stock.</li>
          <li>Investing in a single stock is riskier than investing in an index fund.</li>
        </ul>
      </p>
    </div>
    <br>
    <br>
    <br>
    <footer>copyright SandyJones</footer>
</html>