.stockCard {
	text-align: center;
	font-size: 16px;
	color: blue;
	border: 2px solid grey;
	background-color: beige;
	font-weight: 800;
	padding-bottom: 40px;
}
.stockSearch {
	color: blue;
	font-size: 36px;
	text-align: left;
	font-style: italic;
}
.main-container {
	background-color: grey;
}
body {
	background-color: grey;
}
.notesHeading {
	color: blue;
	text-align: center;
	font-style: italic;
	font-weight: 800;
}
.search {
	text-align: float right;
}
.titleAppFavePage {
	color: blue;
	font-size: 36px;
	text-align: center;
	font-style: italic;
}
.favePageTitle {
	color: blue;
	font-size: 16px;
	font-style: italic;
	text-align: center;
}
.notePageTitle {
	color: blue;
	font-size: 20px;
	font-style: italic;
	text-align: center;
}
.dropdown-toggle {
	color: beige;
}
.dropdown-menu {
	color: beige;
}
.caret {
	color: beige;
}
.dropdown {
	color: beige;
}